<p id="notice"><%= notice %></p>

<p>
  <b>Special:</b>
  <%= @special_number.special %>
</p>


<%= link_to 'Edit', edit_special_number_path(@special_number) %> |
<%= link_to 'Back', special_numbers_path %>
